<section id="section-dreams">
	<div class="container">
		<div class="row">
			<div class="col col-md-6 mx-auto">
				<div class="create-form shadow">
					<h2 class="text-center"><%= @dream.title %></h2>
				</div>
			</div>
		</div>
	</div>
</section>