<section id="index">
	<h3 id="sign-in" class="text-center mb-5">Mon journal 💤</h3>
	<div class="container">
		<div class="row">
			<div class="col col-lg-4 col-md-4 col-sm-6">
				<div class="card shadow" id="index-card">
						<img src="https://media.giphy.com/media/uozJs7kR6J98k/giphy.gif" alt="Image" class="card-img-top" id="index-img">
						<p class="text-center mt-3">RÊVES</p>
						<div class="hr"></div>
					<div class="card-body align-items-start">
						<p class="card card-sm card-body flex-row align-items-center hover-shadow-3d shadow" id="dream-card">
							<span class="mr-auto">Title</span>
							<span><i class="far fa-eye mr-1"></i> <i class="fas fa-pencil-alt text-primary mr-1"></i> <i class="far fa-trash-alt text-danger"></i></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col col-lg-4 col-md-4 col-sm-6">
				<div class="card shadow" id="index-card">
						<img src="https://media.giphy.com/media/uozJs7kR6J98k/giphy.gif" alt="Image" class="card-img-top" id="index-img">
						<p class="text-center mt-3">CAUCHEMARS</p>
						<div class="hr"></div>
					<div class="card-body align-items-start">
						<p class="card card-sm card-body flex-row align-items-center hover-shadow-3d shadow" id="dream-card">
							<span class="mr-auto">Title</span>
							<span><i class="far fa-eye mr-1"></i> <i class="fas fa-pencil-alt text-primary mr-1"></i> <i class="far fa-trash-alt text-danger"></i></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col col-lg-4 col-md-4 col-sm-6">
				<div class="card shadow" id="index-card">
						<img src="https://media.giphy.com/media/uozJs7kR6J98k/giphy.gif" alt="Image" class="card-img-top" id="index-img">
						<p class="text-center mt-3">RÊVES LUCIDES</p>
						<div class="hr"></div>
					<div class="card-body align-items-start">
						<p class="card card-sm card-body flex-row align-items-center hover-shadow-3d shadow" id="dream-card">
							<span class="mr-auto">Title</span>
							<span><i class="far fa-eye mr-1"></i> <i class="fas fa-pencil-alt text-primary mr-1"></i> <i class="far fa-trash-alt text-danger"></i></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>