<body>
  <section id="section-1">
    <div id="home-title">
      <h1 id="main-title" class="display-2">DREAMZzz</h1>
      <span class="scroll-btn mt-5">
        <a href="#section-2" data-smooth-scroll>
          <span class="mouse">
            <span>
            </span>
          </span>
        </a>
      </span>
    </div>
  </section>
  <section id="section-2">
  </section>
</body>
