<div id="rectangle">
	<div id="error">
	    <div id="box"></div>
	    <h3>ERROR 500</h3>
	    <p>Les choses sont un petit peu <span>instables</span> ici</p>
	    <p>Je vous suggère de revenir plus tard...</p>
	</div>
</div>