/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
* ---------- TEMPLATE CSS ----------
*= require scss/theme
*= require assets/css/loaders/loader-typing.css
* ---------- BASE CSS ----------
*= require_tree .
*= require_self
*/

/*------------ Personal CSS -----------*/

body, html {
  height: 100%;
  margin: 0;  
}

#section-1 {

  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* The image used */
  background-image: url("https://media.giphy.com/media/7zebYfu1nq91u/giphy.gif");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 20px; 
}

#main-title {
	color: white;
  text-shadow: 2px 2px #ffbffa;
}

/* Small screens */
@media all and (max-width: 420px) {
  #main-title{
    /* When on small sized screens, we change font size */
    font-size: 40px;
  }

  .logo {
    height: 60px
    margin-right: 10px;
  }

  #sign-in {
    font-size: 20px;
  }
}

/* Small screens */
@media all and (max-width: 350px) {
  #main-title{
    /* When on small sized screens, we change font size */
    font-size: 40px;
  }

  .logo {
    height: 50px;
    margin-right: 10px;
  }
}

/* ----------- SCROLL ME BUTTON -------------- */

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

/* ----------- END SCROLL ME BUTTON -------------- */

/*----------- SECTION 2 CSS -----------*/
#section-2 {

  /*Colors*/
  background-color: #fba8a4;
  background-image: linear-gradient(315deg, #dad2f3 0%, #fba8a4 74%);

  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#section-2 h3 {
  color: white;
}

/*BTN CSS*/

.sign-btn:link,
.sign-btn:visited {
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  display:inline-block;
  transition: all .5s;
}

.btn-white {
  background:#8B52FF;
  color: white;
}

.sign-btn:hover {
 box-shadow:0px 10px 10px rgba(0,0,0,0.2);
 transform : translateY(-3px);
 color: #8B52FF;
}

.sign-btn:active {
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1 {
  animation:comeFromBottom 1s ease-out .8s;
}

.sign-btn::after {
  content:"";
  text-decoration: none;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:30px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
  background: #8B52FF;
}

.btn-animation-1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background: #8B52FF;
}

@keyframes comeFromBottom {
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

/*END BTN CSS*/

#sign-in-modal, #sign-up-modal {
  font-family: 'Comfortaa', cursive;
}

.sign-logo {
  margin-bottom: 10px;
  height: 60px;
}

.modal-body {
  background-image: linear-gradient(315deg, #b0f3f1 0%, #ffcfdf 74%);
}

.modal-content {
  border-radius: 40px;
}

/*----------- END SECTION 2 CSS -----------*/

/*------------- Modal CSS --------------*/

.link {
  color: #8b52ff;
  text-decoration: none;
}

.link:hover {
  color: #793ef9;
  text-decoration: none;
}

/*--------------- End modal CSS ------------*/

/*----------- INDEX CSS -----------*/
#index {

  /*Colors*/
  background-color: #fba8a4;
  background-image: linear-gradient(315deg, #dad2f3 0%, #fba8a4 74%);

  /*Font family*/
  font-family: 'Comfortaa', cursive;
}

.box {
  margin: 30px;
} 

.hr {
  border-bottom: 0.5px solid #8b52ff;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

#index-card  {
  border-radius: 10px;
}

#index-img {
  border-radius: 10px 10px 0px 0px;
  height: 230px;
}

.edit {
  color: #8b52ff;
}

#dream-card:hover {
  background-color: #ddeeff;
  border-color: white; 
}

#dream-card {
  justify-content: space-between;
}

#nightmare-card:hover {
  background-color: #aeb8c1;
  border-color: white; 
}

#nightmare-card {
  justify-content: space-between;
}

#lucid-card:hover {
  background-color: #f4cdf2;
  border-color: white; 
}

#lucid-card {
  justify-content: space-between;
}

#add-dream-icon {
  color: #8b52ff;
  font-size: 30px;
  margin-top: 10px;
}

.add-btn {
  color: #8b52ff;
  padding-bottom: 10px;
}

.custom {
  border-bottom: 1px solid white;
  width: 87%;
  margin: auto;
}

/*----------- End Index CSS -----------*/


/*----------- Create dream CSS -----------*/
#section-dreams {

  /*Colors*/
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);


  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#section-dreams h2 {
  color: #8b52ff;
}

#section-nightmares {

  /*Colors*/
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);



  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#section-nightmares h2 {
  color: #8b52ff;
}

#section-lucids {

  /*Colors*/
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#section-lucids h2 {
  color: #8b52ff;
}

.create-form {
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 10px;
}

.create-btn {
  border: none;
  border-radius: 30px;
  background-color: #8b52ff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all .3s;
  width: 100%;
}

.create-btn i {
  color: white;
}

.create-btn:hover {
 box-shadow:0px 10px 10px rgba(139, 82, 255,0.2);
 transform : translateY(-3px);
 background-color: white;
 color: #8B52FF;
 border: 0.5px solid #8B52FF;
}

.delete-btn {
  border: none;
  border-radius: 30px;
  background-color: #f46e6e;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all .3s;
  width: 100%;
}

.delete-btn:hover {
 box-shadow:0px 10px 10px rgba(244, 110, 110,0.5);
 transform : translateY(-3px);
 text-decoration: none;
 color: white
}

.edit-btn {
  border: none;
  border-radius: 30px;
  background-color: #8B52FF;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all .3s;
  width: 100%;
}

.edit-btn:hover {
 box-shadow:0px 10px 10px rgba(139, 82, 255,0.5);
 transform : translateY(-3px);
 text-decoration: none;
 color: white
}

.form-logo {
  height: 38px;
  margin-right: 10px;
}

/*----------- End create dream CSS -----------*/


/*----------- Edit User CSS -----------*/
#section-edit {

  /*Colors*/
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);


  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#section-edit, #section-password, #section-show h2 {
  color: #8b52ff;
}

#section-password {

  /*Colors*/
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);


  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

 /*--------------- End edit user CSS ---------------*/

  /*---------------- Show dreams CSS ------------------*/

#section-show {

  /*Colors*/
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);


  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  align-items: center;
}

#section-show-nightmare {

  /*Colors*/
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);


  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  align-items: center;
}

#section-show-lucid {

  /*Colors*/
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);


  /*Font family*/
  font-family: 'Comfortaa', cursive;

  /* Full height */
  height: 100%;

  display: flex;
  align-items: center;
}

 /*------------------ End show dreams CSS ---------------*/
